<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
  <h1>AI Resume Analyzer</h1>
  <form action="/analyze" method="POST" enctype="multipart/form-data">
    <input type="file" id="myfile" name="filename">
    <input type="text" id="text" name="jobrole" placeholder="Enter a job role e.g Software Developer">
    <input type="submit" value="Analyze Resume">
  </form>
  </div>
</body>
</html>